npm-debug.log
node_modules/
.env
data/
pyenv/
__pycache__
*.egg-info
csv/**/*.csv
csv/**/*.ics
!csv/duebendorf/duebendorf_stationen.csv
!csv/bassersdorf/bassersdorf_stationen.csv
!csv/uster/uster_stationen.csv
!csv/zimmerberg/*_stationen.csv
