npm-debug.log
node_modules/
.env
data/
pyenv/
__pycache__
*.egg-info
csv/**/*.csv
csv/**/*.ics
!csv/adliswil/adliswil_stationen.csv
!csv/bassersdorf/bassersdorf_stationen.csv
!csv/duebendorf/duebendorf_stationen.csv
!csv/embrach/embrach_stationen.csv
!csv/gossau-zh/gossau-zh_stationen.csv
!csv/hombrechtikon/hombrechtikon_stationen.csv
!csv/horgen/horgen_stationen.csv
!csv/kilchberg/kilchberg_stationen.csv
!csv/langnau/langnau_stationen.csv
!csv/oberrieden/oberrieden_stationen.csv
!csv/richterswil/richterswil_stationen.csv
!csv/rueschlikon/rueschlikon_stationen.csv
!csv/seon/seon_stationen.csv
!csv/thalwil/thalwil_stationen.csv
!csv/uster/uster_stationen.csv
!csv/waedenswil/waedenswil_stationen.csv
!csv/wetzikon/wetzikon_stationen.csv
!csv/wiesendangen/wiesendangen_stationen.csv
!csv/winterthur/winterthur_stationen.csv
