---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


form#url-form {
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 0.5rem 0.75rem;
  }
  input#result {
    font-weight: bold;
    width: 100%;
  }
}
